* {
    margin: 0;
    padding: 0;
}

.loader {
    display: none;
    top: 10%;
    left: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.loading {
    border: 7px solid transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: #1ecd97;
    border-left-color: #1ecd97;
    animation: spin 1s infinite ease;
}

@keyframes spin {
    0% {
        /* transform: rotate(90deg); */
    }

    100% {
        transform: rotate(360deg);
    }
}